:root {
/*
	--primary-color-dark:   #512DA8;
	--primary-color:        #673AB7;
	--primary-color-light:  #D1C4E9;
	--primary-color-text:   #FFFFFF;
	--accent-color:         #FFC107;
	--primary-text-color:   #212121;
	--secondary-text-color: #757575;
	--divider-color:        #BDBDBD;
	--normalized-color:     #FFFFFF;
*/
	--primary-color-dark:   #333333;
	--primary-color:        #000000;
	--primary-color-light:  #BFA4A4;
	--primary-color-text:   #EEEEEE;
	--secondary-color-text: #AAAAAA;
	--accent-color:         #119911;
	--divider-color:        #555555;
	--normalized-color:     #555555;
}
body {
	height: 90vh;
	margin: 0;
	padding: 16px;
	background-color: var(--normalized-color);
	color: var(--secondary-color-text);
	font-family: monospace, sans-serif;
}
button,
input[type="submit"] {
	border: 0;
	border-radius: 4px;
	background-color: var(--accent-color);
	color: var(--primary-color-text);
	font-weight: 700;
	font-family: monospace, sans-serif;
	padding: 5px;
	outline: none;
	cursor: pointer;
}
button:active,
input[type="submit"]:active {
	position: relative;
	top: 1px;
}
input[type="text"] {
	background-color: transparent;
	color: var(--secondary-color-text);
	border: 0;
	border-bottom: 1px solid var(--divider-color);
	margin-bottom: 1px;
	outline: 0;
}
::-webkit-input-placeholder {
	color: var(--secondary-color-text);
}
input[type="text"]:focus {
	margin-bottom: 0;
	border-bottom: 2px solid var(--primary-color);
}
.app {
	height: 100%;
	background-color: var(--primary-color-dark);
	padding: 16px 16px 8px 0;
	border-bottom: 1px solid var(--primary-color);
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
.app:after {
	content: '';
	clear: both;
	display: block;
}
.main {
	float: right;
	position: relative;
	height: 100%;
	width: 75%;
	box-sizing: border-box;
}
.sidebar {
	float: left;
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	vertical-align: top;
	border-right: 1px solid var(--divider-color);
}
.sidebar-channels {
	display: inline-block;
	background-color: var(--normalized-color);
	border-radius: 8px 0 0 8px;
	overflow: hidden;
}
.sidebar-channels-image {
	float: left;
}
.sidebar-channels-items {
	float: left;
}
.info {
	position: absolute;
	top: 0;
	padding-left: 16px;
}
.info-bar {
	position: relative;
	left: 7px;
	display: inline-block;
	padding: 1px 4px;
	background-color: var(--normalized-color);
	border-radius: 8px 0 0 8px;
}
.info-bar:after {
	content: "";
	position: absolute;
	right: -2px;
	top: 0;
	background-color: var(--primary-color-dark);
	width: 4px;
	height: 100%;
	/*
	transform: skewX(-8deg);
	*/
	border-radius: 8px 0 0 8px;
}
.info-bar-name {
	max-width: 200px;
	transition: max-width 1s;
}
.info-bar-name.is-hidden {
	max-width: 0;
}
.info-bar-results {
	position: absolute;
	right: 0;
	top: 26px;
	width: 210px;
	margin: 0;
	padding: 4px;
	list-style: none;
	font-size: 0.8em;
	background-color: rgba(255,255,255,0.3);
}
.info-bar-results li:hover {
	cursor: pointer;
	background-color: var(--primary-color);
}
.connections {
	margin: 0;
	padding: 10px 10px 10px 0;
	color: var(--primary-color-text);
	list-style: none;
}
.connection {
	position: relative;
	padding: 0 32px 0 8px;
	margin-bottom: 4px;
	cursor: pointer;
}
.connection--unread {
	font-weight: 700;
}
.connection.is-active {
	position: relative;
	left: -10px;
	background-color: var(--accent-color);
	font-weight: 700;
	padding: 2px 24px 2px 8px;
	border-radius: 4px 4px 4px 0;
	border-bottom: 1px solid var(--divider-color);
	//box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.8);
	cursor: default;
}
.connection.is-active:before {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	height: 2px;
	width: 10px;
	background-color: var(--accent-color);
	border-radius: 0 0 0 100%;
}
.connection.is-active:after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	height: 2px;
	width: 10px;
	background-color: rgba(0,0,0,0.2);
}
.connection.is-active .connection-close {
	color: transparent;
}
.connection-name {
	overflow: hidden;
	text-overflow: ellipsis;
}
.connection-close {
	position: absolute;
	right: 12px;
	top: 0;
	cursor: pointer;
}
.connection-close i {
	font-size: inherit;
}
.divider {
	border-style: solid;
	border-color: var(--secondary-color-text);
	border-width: 0;
}
.divider--following {
	border-right-width: 1px;
	margin-right: 4px;
}
.material-icons {
	vertical-align: middle;
}
.message {
	position: absolute;
	top: -6px;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	text-align: center;
	padding: 0;
	opacity: 0;
	max-height: 0;
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;
	transition: max-height 500ms, opacity 250ms, padding 250ms;
}
.message:after {
	content: "";
	position: absolute;
	top: 8px;
	right: 2px;
	width: 2px;
	height: 2px;
	box-shadow:
		-10px 5px 0 var(--secondary-color-text),
		-8px 5px 0 var(--secondary-color-text),
		-6px 5px 0 var(--secondary-color-text),
		-4px 5px 0 var(--secondary-color-text),
		-2px 5px 0 var(--secondary-color-text),
		0 5px 0 var(--secondary-color-text),
		-5px 0px 0 var(--secondary-color-text),
		-5px 2px 0 var(--secondary-color-text),
		-5px 4px 0 var(--secondary-color-text),
		-5px 6px 0 var(--secondary-color-text),
		-5px 8px 0 var(--secondary-color-text),
		-5px 10px 0 var(--secondary-color-text);
	transform: rotate(45deg);
}
.message:hover:after {
	box-shadow:
		-10px 5px 0 var(--primary-color-text),
		-8px 5px 0 var(--primary-color-text),
		-6px 5px 0 var(--primary-color-text),
		-4px 5px 0 var(--primary-color-text),
		-2px 5px 0 var(--primary-color-text),
		0 5px 0 var(--primary-color-text),
		-5px 0px 0 var(--primary-color-text),
		-5px 2px 0 var(--primary-color-text),
		-5px 4px 0 var(--primary-color-text),
		-5px 6px 0 var(--primary-color-text),
		-5px 8px 0 var(--primary-color-text),
		-5px 10px 0 var(--primary-color-text);
}
.message--error {
	background-color: #ff5722;
}
.message--success {
	background-color: #8bc34a;
}
.message.is-active {
	max-height: 100px;
	padding: 16px;
	opacity: 1;
}

.chat {
	position: absolute;
	top: 32px;
	bottom: 50px;
	width: 100%;
	overflow-y: auto;
}
.chat-board {
	padding: 16px;
}
.chat-board-item {
	padding-bottom: 8px;
	overflow: hidden;
	//box-shadow: -4px 0px 4px -3px rgba(0,0,0,0.3);
}
.chat-board-item:last-child {
	//box-shadow: -4px 4px 4px -3px rgba(0,0,0,0.3);
}
/*
.chat-board-item:nth-child(odd) {
	background-color: rgba(0,0,0,0.05);
	transform: skewX(5deg);
}
.chat-board-item:nth-child(even) {
	background-color: rgba(0,0,0,0.1);
	transform: skewX(-5deg);
}
*/
.chat-board-item-user,
.chat-board-item-message {
	box-sizing: border-box;
}
.chat-board-item-user {
	overflow: hidden;
	padding-bottom: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--primary-color-text);
	font-size: 0.6em;
	font-weight: 700;
}
.chat-board-item-message {
	font-size: 0.8em;
}
.chat-user {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 4px 16px;
}
.chat-user-message {
	position: relative;
	border-top: 1px solid var(--divider-color);
}
.chat-user-message-text {
	padding-right: 64px;
}
.chat-user-message-text textarea {
	background-color: transparent;
	color: var(--secondary-color-text);
	width: 100%;
	height: 32px;
	border: 0;
	outline: 0;
	resize: none;
}
.chat-user-message-button {
	position: absolute;
	right: 10px;
	bottom: 0;
}
.chat-new {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 4px 8px;
	font-size: 0.8em;
	background-color: var(--primary-color);
	cursor: pointer;
}
.expander {
	display: none;
}
.u-hidden {
	display: none;
}

@media (max-width: 980px) {
	body {
		padding: 0;
		font-size: 1.5em;
	}
	.chat-user {
		padding: 0;
	}
	.main {
		width: 100%;
	}
	.sidebar {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		transition: width 500ms;
	}
	.sidebar.is-open {
		width: 50%;
		background: black;
	}
	.sidebar.is-open:after {
		content: "";
		display: block;
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.6);
	}
	.connections {
		padding: 0;
		overflow: hidden;
	}
	.connection.is-active {
		padding: 2px 24px 2px 16px;
	}
	.expander {
		display: block;
		position: absolute;
		top: 40%;
		right: -40px;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 20px solid transparent;
		border-left: 20px solid var(--accent-color);
		transition: left 500ms, border 600ms;
	}
	.expander.is-open {
		right: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid var(--accent-color);
	}

}